<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <clear/>
    <add name="LocalSqlServer" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|aspnetdb.mdf;User Instance=true" providerName="System.Data.SqlClient"/>
    <add name="OraAspNetConString" connectionString="DATA SOURCE=127.0.0.1/ORCL;DBA PRIVILEGE=SYSDBA;PERSIST SECURITY INFO=True;USER ID=CHINOOK;PASSWORD=p4ssw0rd;" providerName="Oracle.DataAccess.Client"/>
  </connectionStrings>
  <system.web>
    <authentication mode="Forms" />
    <membership defaultProvider="OracleMembershipProvider" />
    <roleManager enabled="true" defaultProvider="OracleRoleProvider" />
    <compilation debug="true" targetFramework="4.0" />
    <pages theme="Default"></pages>
  </system.web>
</configuration>
