<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <appSettings>
    <add key="CS" value="OracleDesenvolvimento"/>
  </appSettings>
  <connectionStrings>
    <add name="OracleDesenvolvimento" connectionString="DATA SOURCE=LOCALHOST/ORCL;PERSIST SECURITY INFO=True;USER ID=CHINOOK;PASSWORD=p4ssw0rd" providerName="Oracle.DataAccess.Client"/>
    <add name="OracleHomologacao" connectionString="DATA SOURCE=HOMOLOGA/ORCL;PERSIST SECURITY INFO=True;USER ID=CHINOOK;PASSWORD=Abc#$123" providerName="Oracle.DataAccess.Client"/>
    <add name="OracleProducao" connectionString="DATA SOURCE=PRODUCAO/ORCL;PERSIST SECURITY INFO=True;USER ID=CHINOOK;PASSWORD=9u@l9u3rC015@A9u1" providerName="Oracle.DataAccess.Client"/>
  </connectionStrings>
  <system.web>
<compilation debug="true" targetFramework="4.0" />
</system.web>

</configuration>
