<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="EMPRESA" value="50minutos treinamentos em tecnologia ltda"/>
    <add key="EMAIL" value="agnaldo@50minutos.com.br" />
  </appSettings>
  <connectionStrings>
    <add name="OracleProd" connectionString="DATA SOURCE=SRV_PROD/ORCL;PASSWORD=B47471n#@Qu4nd0N45(3;PERSIST SECURITY INFO=True;USER ID=USR_PROD"/>
    <add name="OracleDev" connectionString="DATA SOURCE=127.0.0.1/ORCL;PASSWORD=p4ssw0rd;PERSIST SECURITY INFO=True;USER ID=CHINOOK"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
</configuration>
