<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="Entities" connectionString="metadata=res://*/Model.csdl|res://*/Model.ssdl|res://*/Model.msl;provider=Oracle.DataAccess.Client;provider connection string=&quot;DATA SOURCE=127.0.0.1/ORCL;PASSWORD=p4ssw0rd;USER ID=CHINOOK&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>